@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos extra */
.retro-input {
  padding: 10px;
  border-radius: 8px;
  background: #2a2235;
  border: 1px solid #3a3346;
  color: #e3dff7;
}

.retro-btn-gold {
  background: #c7a86c;
  color: #1e1328;
  font-weight: bold;
  transition: 0.2s;
}

.retro-btn-gold:hover {
  background: #e0c27c;
}

.retro-btn-gray {
  background: #3a3346;
  color: #e3dff7;
}

.retro-btn-gray:hover {
  background: #524763;
}
